[user]
	name = Gian Sanchez
	email = giansanchez71@gmail.com

[includeIf "gitdir:~/Development/"]
   path = ~/.gitconfig-personal

[include]
  path = ~/.gitconfig-work

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true # use n and N to move between diff sections
	side-by-side = true 

[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
